<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <script src="/javascripts/socket.io.js"></script>
    <% include ../partials/javascript.ejs %>
    <% include ../partials/stylesheet %>
    <link rel="stylesheet" href="/stylesheets/chatmessage.css">
    <style>
    .list-unstyled {
        position: relative
      }
    
      .notification {
        position: absolute;
        bottom: 8px;
        right: 294px;
        background: #d2232a;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        box-sizing: border-box;
        font-size: 10px;
        line-height: 15px;
        color: #fff;
        text-align: center;
      }
    
      .animating {
        animation: animate 1s cubic-bezier(0, 1, 1, 0);
      }
    
      @keyframes animate {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(1.7);
        }
      }

    .connoti {
        min-width: 2rem;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        background-color: #33a0e8;
        margin-left: .4rem;
        border-radius: .4rem;
        padding: .2rem .4rem;
    }

    #blinkingdot {
        animation: blink 1.3s infinite;
    }

    @keyframes blink{
        to{opacity: .0;}
    }
    </style>
</head>

<body>
    <div class="top-bar animate-dropdown" style="top: 0; position: absolute; max-width: 1800px; min-width: 360px; width: 95%;">
        <div class="container" style="margin-right: 0%">
            <div class="header-top-inner">
            <div class="cnt-account">
                <ul class="list-unstyled">
                    <% if (user) { %>
                    <li><a href="/messages/"><i class="icon fa fa-inbox"></i>Messages <% if (notificount < 1) { %> <span class="notification" style="visibility: hidden"><%=notificount%> <% } else { %><span class="notification" style="visibility: visible"><%=notificount%><% } %></span></a></li>
                    <li><a href="#"><i class="icon fa fa-heart"></i>Wishlist</a></li>
                    <li><a href="/manageoffers"><i class="icon fa fa-shopping-cart"></i>My Offers</a></li>
                    <li><a href="/incomingoffers"><i class="icon fa fa-shopping-cart"></i>Offers Received</a></li>
                    <% } else { %>
                    <li><a href="/login"><i class="icon fa fa-lock"></i>Login</a></li>
                    <% } %>
                </ul>
            </div>
            <% if (user) { %>
          <!-- /.cnt-account -->
          <div class="cnt-block">
              <ul class="list-unstyled list-inline">
                <li class="dropdown dropdown-small"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">My Account </span><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/purchase">Purchase history</a></li>
                    <li><a href="/listing">Listing</a></li>
                    <li><a href="/editprofile">Settings</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <% } %>
            <!-- /.cnt-cart -->
            <div class="clearfix"></div>
            </div>
            <!-- /.header-top-inner --> 
        </div>
        <!-- /.container --> 
    </div>
    <div id="frame">
        <div id="sidepanel">
            <div id="profile">
                <div class="wrap">
                    <img id="profile-img" src="<%= avatar %>" class="online" alt="" />
                    <p> <%= user.name %> </p>
                </div>
            </div>
            <div id="search">
                <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                <input type="text" placeholder="Search..." />
            </div>
            <div id="contacts">
                <ul>
                    <% for (var i in conversations) { %>
                        <!-- TO BE CHANGED -->
                        <% if (user.user_id == conversations[i].user_id) { %>
                            <li class="contact" data-cuid="<%= conversations[i].cu_id %>" data-conid="<%= conversations[i].con_id %>">
                                <div class="wrap">
                                    <span class="contact-status online"></span>
                                    <img src="/images/listingimages/<%= conversations[i].imagename %>" alt="<%= conversations[i].imagename %>">
                                    <div class="meta">
                                        <% for (var k in conversations) { %>
                                            <% if ((conversations[i].con_id == conversations[k].con_id) && (conversations[k].user_id != user.user_id)) { %>
                                            <div style="height: 20px; display: flex;">
                                                <div style="text-align: left; width: 75%"> 
                                                    <p style="font-size: 1.2rem; height: 1.5rem; line-height: 1.2; width: 50%"><%=conversations[k].name %> </p>
                                                </div>
                                                <div style="text-align: right;"> 
                                                    <p style="font-size: 1.2rem; height: 1.5rem; line-height: 1.2;">DATE </p>
                                                </div>
                                            </div>
                                            <% } %>
                                        <% } %>
                                        <p class="name"> <%= conversations[i].title %> </p>
                                        <% for (var j in msgseen) { %>
                                            <% if ((conversations[i].user_id == msgseen[0][j].user_id) && (conversations[i].con_id == msgseen[0][j].con_id)) { %>
                                                <% console.log(conversations[i].con_id, msgseen[0][j].con_id) %>
                                                <% if (msgseen[0][j].seen == false) { %>
                                                    <div <% if (notificount < 1) { %> class="connoti" style="visibility: hidden"> <% } else { %> class="connoti" style="visibility: visible"> <% } %></div>
                                                <% } %>
                                            <% } %>
                                        <% } %>
                                    </div>
                                </div>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </div>
        <% if (typeof chatmessages != 'undefined') { %>
        <container id="contentContainer">
            <div class="content" id="contentMargin">
                <div class="contact-profile">
                    <% for (var i in conversations) { %>
                        <% if ((conversations[i].con_id == con_id) && (conversations[i].user_id != user.user_id)) { %>
                            <img src="<%= gravatar.url(conversations[i].email ,  {s: '100', r: 'x', d: 'retro'}, true) %>" alt="" />
                            <p><%=conversations[i].name %></p>
                        <% } %>
                    <% } %>
                        <div style="float: right; width: 40px">
                            <i class="icon fa fa-ellipsis-v" id="menuButton" expanded="false" style="text-align: center; width: 32px; height: 32px; cursor: pointer; margin: auto;"></i>
                        </div>
                        <span>
                            <div id="dropdownMenu">
                                <ul>
                                    <% if (isBlocked[0][0].blocked == false) { %>
                                    <li type="button" id="menuBlockUser" style="opacity: 1">Block User</li>
                                    <% } else {%>
                                    <li type="button" id="menuUnblockUser" style="opacity: 1" data-toggle="modal">Unblock User</li>
                                    <% } %>
                                </ul>
                            </div>
                        </span>
                </div>
                <div class="messages" id="messages">
                    <ul id="inlineMessage">
                        <% for (var i in chatmessages) { %> 
                            <% if (chatmessages[i].user_id == user.user_id) { %>
                            <li class="replies">
                            <% } else { %>
                            <li class="sent">
                            <% } %>
                                <div>
                                    <p> <%=chatmessages[i].message %> </p>
                                    <span class="timestamp"> <%=chatmessages[i].timestamp %> </span>
                                </div>
                            </li>
                        <%}%>  
                    </ul>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">Block user?</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            Are you sure you want to block this user? You will no longer receive any messages and any conversations with the user will be hidden from your inbox.
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" id="modalBlockUser" data-dismiss="modal" class="btn btn-danger">Block User</button>
                            </div>
                        </div>
                    </div>
                </div>
            </container>
            <div class="message-input">
                <div class="wrap">
                <input id="message" type="text" placeholder="Write your message..." name="inputMessage"/>
                <i id="uploadimage" class="fa fa-paperclip attachment" aria-hidden="true"></i>
                <button id="send" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </div>
            </div>
        <% } else { %>
            <container id="contentContainer">
                <div style="padding-top: 200px; font-weight: 600; text-align: center;">
                    <div>Welcome back, <%=user.name %>!</div>
                    <div><a href="/">Browse categories to chat and buy from sellers</a></div>
                </div>
            </container>
        <% } %>
        </div>
    </div>
</body>
    


<script>
    var socket = io()

    var con_id = "<%=con_id %>"
    var convuser_id = '<%= cu_id %>'
    scrollToBottomOnLoad()

    socket.emit('subscribe', con_id);
    socket.emit('myCon', con_id);

    // When user clicks on menu button (Report/Block)
    $(document).on("click", '#menuButton', function() {
        document.getElementById("dropdownMenu").classList.toggle("show");
    })

    // When user blocks user
    $(document).on("click", '#menuBlockUser', function() {
        if (document.getElementById('menuBlockUser').innerHTML == "Block User") {
            $('#exampleModal').modal('show');
        } else {
            document.getElementById("dropdownMenu").classList.toggle("show");
            var socket = io()
            socket.emit('block', {con_id, convuser_id})
            document.getElementById("menuBlockUser").innerHTML = "Block User"
        }
    })

    $(document).on("click", '#modalBlockUser', function() {
        document.getElementById("dropdownMenu").classList.toggle("show");
        var socket = io()
        socket.emit('block', {con_id, convuser_id})
        document.getElementById("menuBlockUser").innerHTML = "Unblock User"
    })

    // When user unblocks user
    $(document).on("click", '#menuUnblockUser', function() {
        document.getElementById("dropdownMenu").classList.toggle("show");
        var socket = io()
        socket.emit('block', {con_id, convuser_id})
        document.getElementById("menuUnblockUser").innerHTML = "Block User"
    })

    // Allows enter key to send message
    $(document.body).delegate('input:text', 'keypress', function(e) {
    if (e.which === 13) { // if is enter
        e.preventDefault(); // don't submit form
        $("#send").click();
    }
    });

    // Change contact by clicking
    $(function(){
        var $contacts = $('.contact').click(function(){
            $contacts.removeClass('active');
            $(this).addClass('active');
            var conversation_id = $(this).data('conid')
            var convuser_id = $(this).data('cuid')
            window.history.pushState('', '', '/messages/' + conversation_id + '/' + convuser_id);
            
            socket.emit('myCon', con_id);
            socket.emit('subscribe', conversation_id);

            $.ajax({
                type: 'GET',
                url: location.href,
                success: function() {
                    $("#contentContainer").load(location.href + " #contentMargin");
                    setTimeout(function () {
                        scrollToBottomOnLoad()
                        }, 40);
                },
                error: function() {
                }
        
            })
            
        });
    });

    // Sends message
    $(document).on("click" , '#send' ,function () {
        var message = { message: $("#message").val() }
        postMessage(message)
        $('#message').val('');
    })
    
    function postMessage(message) {
        $.post(location.href, message)
    }

    socket.on('message', addMessage)

    function addMessage(msg) {
        var convuser_id = parseInt($('.contact.active').data('cuid'))
        if (isNaN(convuser_id)) {
            convuser_id = '<%= cu_id %>'
        }
        if (Number(msg.cu_id) == convuser_id) {
            $("#inlineMessage").append(`
            <li class="replies">
                <div>
                    <p> ${msg.message}  </p>
                    <span class="timestamp"> ${msg.timestamp} </span>
                </div>
            </li>`)
            scrollToBottom();
        } else {
            $("#inlineMessage").append(`
            <li class="sent">
                <div>
                    <p> ${msg.message}  </p>
                    <span class="timestamp"> ${msg.timestamp} </span>
                </div>
            </li>`)
            scrollToBottom();
        }
    }

    socket.on('blockmessage', addBlockMessage)

    function addBlockMessage(msg) {
        var convuser_id = parseInt($('.contact.active').data('cuid'))
        if (isNaN(convuser_id)) {
            convuser_id = '<%= cu_id %>'
        }
        if (Number(msg.cu_id) == convuser_id) {
        $("#inlineMessage").append(`
            <li class="replies">
                <div>
                    <p style="color: red;"> You have been blocked, the message you sent might not be received by the user. </p>
                </div>
            </li>`)
            scrollToBottom();
        }
    }

    var temp;
    // Detect typing
    $("#message").keypress(function (e) {
        if (e.which !== 13) {
            clearTimeout(temp)
            socket.emit('typing', {typing: true, con_id: con_id, name: '<%=user.name %>' });
            temp = setTimeout(function() {
                socket.emit('typing', {typing: false, con_id: con_id, name: '<%=user.name%>' })
            }, 1500)
        }
    });

    socket.on('istyping', addTyping)

    function timeoutFunction() {  
        socket.emit("typing", false);
      }

    function addTyping(data) {
        if (data.typing) {
            if ($("#"+data.name+"").length == 0) {
                $("#inlineMessage").append(`
                <li id=` + data.name + ` class="sent">
                    <div>
                        <p style="color: gray;"><span id="blinkingdot">` + data.name + ` is typing ...<span> </p>
                    </div>
                </li>`)
                scrollToBottom();
                timeout = setTimeout(timeoutFunction, 1500);
            }
        } else {
            $("#"+data.name+"").remove();
        }
    }

    $('#uploadimage').bind('change', function(e){
        var data = e.originalEvent.target.files[0];
        readThenSendFile(data);      
    });

    function readThenSendFile(data){
        var reader = new FileReader();
        reader.onload = function(evt){
            var msg ={};
            msg.username = username;
            msg.file = evt.target.result;
            msg.fileName = data.name;
            socket.emit('base64 file', msg);
        };
        reader.readAsDataURL(data);
}

    function scrollToBottom() {
        // Selectors
        var messages = $('#messages');
        var newMessage = messages.children().children('li:last-child')
        // Heights
        var clientHeight = messages.prop('clientHeight');
        var scrollTop = messages.prop('scrollTop');
        var scrollHeight = messages.prop('scrollHeight');
        var newMessageHeight = newMessage.innerHeight();
        var lastMessageHeight = newMessage.prev().innerHeight();

        if (clientHeight + scrollTop  + newMessageHeight + lastMessageHeight >= scrollHeight) {
            messages.scrollTop(scrollHeight);
        }
    }
    
    function scrollToBottomOnLoad() {
        // Selectors
        var messages = $('#messages');
        var newMessage = messages.children().children('li:last-child')
        // Heights
        var clientHeight = messages.prop('clientHeight');
        var scrollHeight = messages.prop('scrollHeight');
        messages.scrollTop(clientHeight + scrollHeight);
    }
    
    var counterValue = parseInt($('.notification').html()); // Get the current bubble value

    <% if (user) { %>
        socket.emit('myUser', '<%=user.user_id%>');
    
        socket.on('notification', function() {
            if ((counterValue == '') || (counterValue < 1)) {
            counterValue = 0;
            }
            increaseCounter()
            console.log('Counter up')
        })

        function removeAnimation() {
            setTimeout(function () {
            $('.notification').removeClass('animating')
            }, 500);
        }

        function increaseCounter() {
            counterValue++; // increment
            $('.notification').css("visibility", "visible");
            $('.notification').html(counterValue).addClass('animating'); // animate it
            removeAnimation(); // remove CSS animating class 
        }
    <% } %>
</script>


<footer>
    <% include ../partials/javascript %>
</footer>

</body>

</html>