<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <% include ../partials/stylesheet %>
</head>

<header>
	<% include ../partials/header %>
</header>

<body>
        <!--FORM TO UPDATE USER DETAIL-->

        <!--css changes-->
            <div class="sign-in-page">
        <div class="body-content">
                <div class="container">
        <div class="col-md-12 col-sm-12">
                <h4 class="checkout-subtitle">Update Account</h4>
                <p class="text title-tag-line">Change account details</p>
                <form class="register-form outer-top-xs" role="form">
                    <div class="form-group">
                        <label class="info-title" for="inputName">Name</label>
                        <input type="text" class="form-control unicase-form-control text-input" id="inputName" name="Name" value="<%=user.name%>">
                      </div>
                    <div class="form-group">
                        <label class="info-title" for="inputEmail">Email Address</label>
                        <input type="text" class="form-control unicase-form-control text-input" id="inputEmail" name="Email" value="<%=user.email%>">
                    </div>
                    <div class="form-group">
                        <label class="info-title" for="inputBio">Bio</label>
                        <input type="text" class="form-control unicase-form-control text-input" id="inputBio" name="bio" value="<%=user.bio%>">
                    </div>
                    <div class="form-group">
                        <label class="info-title" for="inputAddress">Address</label>
                        <input type="text" id="inputAddress" name="Address" class="form-control unicase-form-control text-input" value="<%=user.address%>">
                    </div>
                     <div class="form-group">
                        <label class="info-title" for="inputPassword">Change Password</label>
                        <input type="password" id="inputPassword" name="password" class="form-control unicase-form-control text-input" required="true" value="<%=user.password%>">
                    </div>
                      <button type="submit" class="btn-upper btn btn-primary checkout-page-button" onclick=saveChanges()>Save Changes</button>
                      <button type="button" class="btn-upper btn btn-secondary checkout-page-button"  onclick=discardChanges()>Cancel</button>
                </form>
                <br>
            </div>
            </div>	
</div>
</div>
    <script>
        function saveChanges() {
            var url = "editprofile";
            var newValues = {
                name: $("#inputName").val(),
                email: $("#inputEmail").val(),
                bio: $("#inputBio").val(),
                address: $("#inputAddress").val(),
                password: $("#inputPassword").val()
            }
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify(newValues),
                dataType: "json",
                contentType: "application/json",
                success: function(result){
                    alert("Profile updated successfully");
                    location.href = "profile"
                },
                error: function(result){
                    alert("Error updating profile");
                    discardChanges();
                    location.href = "profile"
                }
            })
        }
        function discardChanges() {
            location.href = "profile"
        }
    </script>
<footer>
        <% include ../partials/footer %>
        <% include ../partials/javascript %>
</footer>
</body>

</html>