<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
        <%= title %>
    </title>
    <% include ../partials/stylesheet %>
</head>
<header>
    <% include ../partials/header %>
  </header>
<body>
    <form method="post" enctype="multipart/form-data">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit Listing Record</h4>
    </div>
    <div class="modal-body">
            <fieldset class="form-group">
              <label for="inputuserid">Your ID number</label>
              <input type="text" id="inputuserid" name="user_id" class="form-control" value="<%= user.user_id %>" required="true" readonly>
            </fieldset>
            <fieldset class="form-group">
              <label for="inputName">Name</label>
              <input type="text" id="inputName" name="name" class="form-control" required="true" value="<%= item.name %>">
            </fieldset>
            <fieldset class="form-group">
              <label for="inputListing">Description</label>
              <input type="text" id="inputDescription" name="description" class="form-control" max="255" required="true" value="<%= item.description %>">
            </fieldset>
            <fieldset class="form-group">
              <label for="inputPrice">Price</label>
              <input type="text" id="inputPrice" name="price" class="form-control" required="true" value="<%= item.price %>">
            </fieldset>
            <fieldset class="form-group">
                <label for="inputStatus">Mark as sold</label>
                <input type="radio" id="inputStatus" name="status" class="form-control" value="true" checked >Yes
                <input type="radio" id="inputStatus" name="status" class="form-control" value="false">No
            </fieldset>
            <fieldset class="form-group">
                    <label for="inputCategory">Category</label>
                    <br>
                <select class="col-sm-12" id="inputCategory" name="category">
                        <option id="inputCategory" value="Clothing">Clothing</option>
                        <option id="inputCategory" value="Shoes">Shoes</option>
                        <option id="inputCategory" value="Watches">Watches</option>
                        <option id="inputCategory" value="Jewellery">Jewellery</option>
                </select>
            </fieldset>
          </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" onclick=saveChanges()>Save Changes</button>
        <button type="button" class="btn btn-secondary" onclick=discardChanges()>Cancel</button>
    </div>
    </form>
    <script>
        function saveChanges() {
            var url = "/listing/edit/<%=item.id%>";
            var newValues = {
                user_id: $("#inputuserid").val(),
                name: $("#inputName").val(),
                description: $("#inputDescription").val(),
                price: $("#inputPrice").val(),
                status: $("#inputStatus:checked").val(),
                category: $("#inputCategory").find(':selected').val()
            }
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify(newValues),
                dataType: "json",
                contentType: "application/json",
                success: function(result){
                    alert("Listing updated successfully");
                    location.href = "/"
                },
                error: function(result){
                    alert("Error updating listing. Please try again");
                    location.href = "/listing/edit/<%=item.id%>"
                }
            })
        }

        function discardChanges() {
            location.href = "/"
        }
    </script>
</body>
<footer>
    <% include ../partials/footer %>
    <% include ../partials/javascript %>
  </footer>


</html>