<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>
<body>
    <% include ../partials/header %>
        <!--FORM TO UPDATE USER DETAIL-->
        <fieldset class="form-group">
            <label for="inputName">Name</label>
            <input type="text" id="inputName" name="Name" class="form-control" placeholder="Name" required="true" value="<%=user.name%>">
        </fieldset>
        <fieldset class="form-group">
            <label for="inputName">Email</label>
            <input type="text" id="inputEmail" name="Email" class="form-control" placeholder="Email" required="true" value="<%=user.email%>">
        </fieldset>
        <fieldset class="form-group">
            <label for="inputBio">Bio</label>
            <input type="text" id="inputBio" name="bio" class="form-control" placeholder="Bio" required="true" value="<%=user.bio%>">
        </fieldset>
        <fieldset class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" id="inputAddress" name="Address" class="form-control" placeholder="Address" required="true" value="<%=user.address%>">
        </fieldset>
    
        <button type="submit" class="btn btn-primary" onclick=saveChanges()>Save Changes</button>
        <button type="button" class="btn btn-secondary" onclick=discardChanges()>Cancel</button>
    <script>
        function saveChanges() {
            var url = "editprofile";
            var newValues = {
                name: $("#inputName").val(),
                email: $("#inputEmail").val(),
                bio: $("#inputBio").val(),
                address: $("#inputAddress").val()
            }
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify(newValues),
                dataType: "json",
                contentType: "application/json",
                success: function(result){
                    alert("Profile updated successfully");
                    location.href = "profile"
                },
                error: function(result){
                    alert("Error updating profile");
                    discardChanges();
                    location.href = "profile"
                }
            })
        }
        function discardChanges() {
            location.href = "editprofile"
        }
    </script>
    <% include ../partials/footer %>
    <% include ../partials/javascript %>
</body>

</html>