<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
</head>

<script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>

<header>
  <% include ../partials/header %>
</header>

<body>
  <table class="table">
        <h2 align = "center">INCOMING OFFERS</h2>
    <thread>
      <tr>
        <th>Offer ID</th>
        <th>Listing Name</th>
        <th>Buyer Name</th>
        <th>Offer Price</th>
        <th>Status</th>
      </tr>
    </thread>
      <!-- <%console.log(itemList)%> -->
      <% for(var i in itemList){ %>
        <tbody>
          <tr class="rowRecord" data-id="<%= itemList[i].id %>">
              <!-- <%console.log(itemList[i])%> -->
            <td class="cart-product-name-info">
              <h4 class='cart-product-description'><%= itemList[i].id %></h4>
            </td>
            <td class="cart-product-name-info">
              <h4 class='cart-product-description'><%= itemList[i].itemname %></h4>
            </td>
            <td class="cart-product-name-info">
              <h4 class='cart-product-description'><%= itemList[i].buyername %></h4>
            </td>
            <td class="cart-product-name-info">
              <h4 class='cart-product-description'><%= itemList[i].offerprice %></h4>
            </td>
            <!-- <td class="cart-product-edit">
              <input type="button" class="editBtn" value="Edit">
            </td> -->
            <% if (itemList[i].offerstatus === "Accepted") { %>
                <td class="cart-product-name-info">
                        <h4 style = color:#32CD32><%= itemList[i].offerstatus %></h4>
                </td>   
            <% } else if (itemList[i].offerstatus == "Declined") { %>
                <td class="cart-product-name-info">
                        <h4 style = color:#DC143C><%= itemList[i].offerstatus %></h4>
                </td>
            <% } else { %>
                <td class="romove-item"><a href="" title="Accept Offer" class="accept"><h4>Accept</h4></a><a href="" title="Decline Offer" class="decline"><h4>Decline</h4></a></td>
            <% } %>
          </tr>
      </tbody>
        <% } %>
  </table>

  <script>
    // Accept Function
    $('.accept').click(function () {
      var record_num = $(this).closest("tr").data('id');
      
      $.ajax({
        url: '<%-urlPath%>' + '/accept/' + record_num,
        type: 'POST',
        success: function (result) {
          console.log(result.message);
        },
        error: function (result) {
          alert("Unable to delete item from cart.");
          console.log(result.message);
        }
      });

    });

    // Decline Function
    $('.decline').click(function () {
      var record_num = $(this).closest("tr").data('id');
      
      $.ajax({
        url: '<%-urlPath%>' + '/decline/' + record_num,
        type: 'POST',
        success: function (result) {
          console.log(result.message);
        },
        error: function (result) {
          alert("Unable to delete item from cart.");
          console.log(result.message);
        }
      });

    });
    
    // Delete function
    $('.deleteBtn').click(function () {                                                                                                 
      var record_num = $(this).closest("tr").data('id');
      $.ajax({
        url: '<%-urlPath%>' + '/' + record_num,
        type: 'DELETE',
        success: function (result) {
          console.log(result.message);
          var itemToRemove = '.rowRecord[data-id=' + record_num + ']';
          $(itemToRemove).remove();
        },
        error: function (result) {
          alert("Unable to delete item from cart.");
          console.log(result.message);
        }
      });
    });
    
  </script>

<footer>
  <% include ../partials/footer %>
  <% include ../partials/javascript %>
</footer>

</body>

</html>