<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
</head>

<script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>

<header>
  <% include ../partials/header %>
</header>

<body>
  <table class="table">
    <thread>
      <tr>
        <th>Remove</th>
        <th>Offer ID</th>
        <th>Listing ID</th>
        <th>Listing Name</th>
        <th>Offer Price</th>
        <th>Edit</th>
      </tr>
    </thread>
      <!-- <%console.log(itemList)%> -->
      <% for(var i in itemList){ %>
        <tbody>
          <tr class="rowRecord" data-id="<%= itemList[i].id %>">
              <!-- <%console.log(itemList[i])%> -->
            <td class="romove-item"><a href="" title="cancel" class="deleteBtn"><i class="fa fa-trash-o"></i></a></td>
            <td class="cart-product-name-info">
              <h4 class='cart-product-description'><%= itemList[i].id %></h4>
            </td>
            <td class="cart-product-name-info">
              <h4 class='cart-product-description'><%= itemList[i].listing_id %></h4>
            </td>
            <td class="cart-product-name-info">
              <h4 class='cart-product-description'><%= itemList[i].name %></h4>
            </td>
            <td class="cart-product-name-info">
              <h4 class='cart-product-description'><%= itemList[i].offerprice %></h4>
            </td>
            <!-- <td class="cart-product-edit">
              <input type="button" class="editBtn" value="Edit">
            </td> -->
            <td class="cart-product-edit"><a href="#" class="editBtn">Edit</a></td>
          </tr>
      </tbody>
        <% } %>
  </table>

  <script>
    // Edit Function
    $('.editBtn').click(function () {
      var record_num = $(this).closest("tr").data('id');
      location.href = "editoffers/"+record_num;
    });
    
    // Delete function
    $('.deleteBtn').click(function () {                                                                                                 
      var record_num = $(this).closest("tr").data('id');
      $.ajax({
        url: '<%-urlPath%>' + '/' + record_num,
        type: 'DELETE',
        success: function (result) {
          console.log(result.message);
          var itemToRemove = '.rowRecord[data-id=' + record_num + ']';
          $(itemToRemove).remove();
        },
        error: function (result) {
          alert("Unable to delete item from cart.");
          console.log(result.message);
        }
      });
    });
    
  </script>

<footer>
  <% include ../partials/footer %>
  <% include ../partials/javascript %>
</footer>

</body>

</html>