<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
</head>

<script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>

<header>
  <% include ../partials/header %>
</header>

<body>
  <table class="table">
    <h2 align = "center">MY OFFERS</h2>
    <thread>
      <tr>
          <th>Offer ID</th>
          <th>Listing ID</th>
          <th>Listing Name</th>
          <th>Offer Price</th>
          <th>Status</th>
      </tr>
    </thread>
      <!-- <%console.log(itemList)%> -->
      <% for(var i in itemList){ %>
        <tbody>
          <tr class="rowRecord" data-id="<%= itemList[i].id %>">
              <!-- <%console.log(itemList[i])%> -->
            <td class="cart-product-name-info">
              <h4 class='cart-product-description'><%= itemList[i].id %></h4>
            </td>
            <td class="cart-product-name-info">
              <h4 class='cart-product-description'><%= itemList[i].listing_id %></h4>
            </td>
            <td class="cart-product-name-info">
              <h4 class='cart-product-description'><%= itemList[i].name %></h4>
            </td>
            <td class="cart-product-name-info">
              <h4 class='cart-product-description'><%= itemList[i].offerprice %></h4>
            </td>
            <!-- <td class="cart-product-edit">
              <input type="button" class="editBtn" value="Edit">
            </td> -->
            <% if (itemList[i].offerstatus == "Pending") { %>
            <td class="cart-product-name-info">
                <h4 style = color:#808080><%= itemList[i].offerstatus %></h4>
            </td>
            <td class="cart-product-edit"><a href="#" class="editBtn">Edit</a></td>
            <% } else if (itemList[i].offerstatus == "Accepted") { %>
            <td class="cart-product-name-info">
                <h4 style = color:#32CD32><%= itemList[i].offerstatus %></h4>
            </td>
            <form action="/manageoffers/bought" method="post">
              <fieldset class="form-group">
                <!--<label for="inputname">Name</label> -->
                <input type="hidden" id="inputlisting" name="listing_id" class="form-control" value="<%= itemList[i].listing_id %>" required="" readonly>
            </fieldset>
            <fieldset class="form-group">
              <!--<label for="inputname">Name</label> -->
              <input type="hidden" id="inputoffer" name="offer_id" class="form-control" value="<%= itemList[i].id %>" required="" readonly>
          </fieldset>
            <td class=""><button type="" class="btn btn-primary">Checkout</button></td>
          </form>
            <% } else { %>
            <td class="cart-product-name-info">
              <h4 style = color:#DC143C><%= itemList[i].offerstatus %></h4>
            </td>
            <td class="romove-item"><a href="" title="cancel" class="deleteBtn"><i class="fa fa-trash-o"></i></a></td>
            <% } %>
          </tr>
      </tbody>
        <% } %>
  </table>

  <script>
    // Edit Function
    $('.editBtn').click(function () {
      var record_num = $(this).closest("tr").data('id');
      location.href = "editoffers/"+record_num;
    });
    
    // Delete function
    $('.deleteBtn').click(function () {                                                                                                 
      var record_num = $(this).closest("tr").data('id');
      $.ajax({
        url: '<%-urlPath%>' + '/' + record_num,
        type: 'DELETE',
        success: function (result) {
          console.log(result.message);
          var itemToRemove = '.rowRecord[data-id=' + record_num + ']';
          $(itemToRemove).remove();
          alert("Offer Deleted.")
        },
        error: function (result) {
          alert("Unable to delete item from cart.");
          console.log(result.message);
        }
      });
    });
    
  </script>

<footer>
  <% include ../partials/footer %>
  <% include ../partials/javascript %>
</footer>

</body>

</html>