<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/stylesheet %>
</head>

<script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>

<header>
  <% include ../partials/header %>

  <style>
      table th {
        text-align: left;
        
        
      }
      #offerid {
        text-align: left;
        background-color: #EEEEEE;
        
      }
  </style>
</header>

<body>
  <div class="row">
    <div class="container">
      <table class="table table-hover table-bordered table-responsive">
        <h2 align = "center">My Offers</h2>
        <thread>
          <tr>
              <th class="info"><h4><strong>Offer ID</strong></h4></th>
              <th class="info"><h4>Listing ID</h4></th>
              <th class="info"><h4>Listing Name</h4></th>
              <th class="info"><h4>Listed By</h4></th>
              <th class="info"><h4>Offer Price</h4></th>

              <th class="info"><h4>Status</h4></th>
              <th class="info"></th>
          </tr>
        </thread>
          <!-- <%console.log(itemList)%> -->
          <% for(var i in itemList){ %>
            <tbody>
              <tr class="rowRecord" data-id="<%= itemList[i].id %>">
                  <!-- <%console.log(itemList[i])%> -->
                <td id="offerid">
                  <h4 class='cart-product-description'><strong><%= itemList[i].id %></strong></h4>
                </td>
                <td>
                  <h4 class='cart-product-description'><%= itemList[i].listing_id %></h4>
                </td>
                <td class="cart-product-name-info">
                  <h4 class='cart-product-description'><%= itemList[i].name %></h4>
                </td>
                <td class="cart-product-name-info">
                    <h4 class='cart-product-description'><%= itemList[i].seller %></h4>
                </td>
                <td class="cart-product-name-info">
                  <h4 class='cart-product-description'>$<%= itemList[i].offerprice %></h4>
                </td>

                <!-- <td class="cart-product-edit">
                  <input type="button" class="editBtn" value="Edit">
                </td> -->
                <% if (itemList[i].offerstatus == "Pending") { %>
                <td class="cart-product-name-info">
                    <h4 style = color:#808080><%= itemList[i].offerstatus %></h4>
                </td>
                <td class="cart-product-edit"><a href="#" class="editBtn">Edit</a></td>
                <% } else if (itemList[i].offerstatus == "Accepted") { %>
                <td class="cart-product-name-info">
                    <h4 style = color:#32CD32><strong><%= itemList[i].offerstatus %></strong></h4>
                </td>
                <td id="shop">
                  <script>
                    var checkoutHandler = StripeCheckout.configure({
                      key: "pk_test_GgdRbci9EeoFHswyOmO6v0gB",
                      locale: "auto",
                      name: "<%= itemList[i].name %>",
                      amount: "<%= (itemList[i].offerprice * 100).toFixed(8) %>",
                      description: "<%= itemList[i].name %>"
                    });
                  </script> 
                  <form action="/manageoffers" method="post">
                  <input type="hidden" id="inputlisting" name="listing_id" class="form-control" value="<%= itemList[i].listing_id %>" required="" readonly>
                  <!--<label for="inputname">Name</label> -->
                  <input type="hidden" id="inputoffer" name="offer_id" class="form-control" value="<%= itemList[i].id %>" required="" readonly>
                  <input type="hidden" name="chargeAmount" value="<%= (itemList[i].offerprice * 100).toFixed(0) %>">
                  <button id="buttonCheckout" class="btn text-white btn-primary">Checkout with Stripe</button>
                  </form>
                </td>
                </form>
                <% } else { %>
                <td class="cart-product-name-info">
                  <h4 style = color:#DC143C><strong><%= itemList[i].offerstatus %></strong></h4>
                </td>
                <td class="romove-item"><a href="" title="cancel" class="deleteBtn"><i class="fa fa-trash-o"></i></a></td>
                <% } %>
              </tr>
          </tbody>
            <% } %>
      </table>
    </div>
  </div>
  <script>
    var button = document.getElementById("buttonCheckout");
    button.addEventListener("click", function(ev) {
      checkoutHandler.open({
        token: handleToken
      });
    });

    function handleToken(token) {
      var obj = {}
      obj.token = token;
      obj.amount = $("input[name=chargeAmount]").val();
      fetch("/checkout", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify(obj)
      })
      .then(response => {
        if (!response.ok)
          throw response;
        return response.json();
      })
      .then(output => {
        console.log("Purchase succeeded:", output);
      })
    }

    // Edit Function
    $('.editBtn').click(function () {
      var record_num = $(this).closest("tr").data('id');
      location.href = "editoffers/"+record_num;
    });
    
    // Delete function
    $('.deleteBtn').click(function () {                                                                                                 
      var record_num = $(this).closest("tr").data('id');
      $.ajax({
        url: '<%-urlPath%>' + '/' + record_num,
        type: 'DELETE',
        success: function (result) {
          console.log(result.message);
          var itemToRemove = '.rowRecord[data-id=' + record_num + ']';
          $(itemToRemove).remove();
          alert("Offer Deleted.")
        },
        error: function (result) {
          alert("Unable to delete item from cart.");
          console.log(result.message);
        }
      });
    });
    
  </script>

<footer>
  <% include ../partials/footer %>
  <% include ../partials/javascript %>
</footer>

</body>

</html>